<!DOCTYPE html>
<html>
<head>
  <title>RailsExam</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-pills">  
    <li><%= link_to "Sign up", new_user_registration_path %>
    <% if current_user %>
      <li><%=link_to current_user.name, "javascript:void();" %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% end %>
    <% if !current_user %>
      <li><%= link_to "Sign in", new_user_session_path %>
      <li><%= auth_provider(:twitter) %>
      <li><%= auth_provider(:github) %>

    <% end %>
  </ul>
<div class="container" style = "margin-bottom: 5%">
  <%= yield %>
</div>
</body>
</html>
