#cars
  = form_for [@car], html: { multipart: true } do |f|
    %p
      = f.label :brand
      %br
      = f.text_field :brand
    %p
      = f.label :year
      %br
      = f.text_field :year
    - number = 0
    = f.fields_for :assets do |asset|
      %p
        = asset.label :asset, "File ##{number += 1}"
        = asset.file_field :asset
    = f.submit 'Create car',:id => "create-car"
