%br
%table.table.table-striped
  %thead
    %tr
      %th Cars
  - @car.each do |car|
    %tr
      %td
        = link_to "#{car.brand}", car_path(car)
      %td
        = link_to 'Edit', edit_car_path(car)
      %td
        = link_to 'Destroy', car, method: :delete,
      data: { confirm: 'Are you sure?' }
%p
  = link_to "New Car", new_car_path, class: "btn btn-default"
