%br 
#cars
  - if flash[:notice]
    .notice.alert.alert-warning
      %strong
        = flash[:notice]
  = simple_format(@car.brand)
  %span#author "Created by"
    = @car.user.email
  - if @car.assets.present?
    %h3 Images
    .assets.col-lg-12
      - @car.assets.each do |asset|
        = image_tag(asset.asset.url, class: "img-rounded col-lg-4")
        %p
          = link_to File.basename(asset.asset.path), asset.asset.url
        %p
          %small
            = number_to_human_size(asset.asset.size)
= form_tag search_cars_path(@car), :method => :get do
  = label_tag "search"
  = text_field_tag "search", params[:search]
  = submit_tag "Search"
- @cars.each do |car|
  %li #{car.brand}
#tags{style: "overflow: hidden"}
  %h3 Tags
  = render @car.tags
= link_to 'Back', cars_path, class: "btn btn-danger"
%h3 Comments
#comments
  - if @car.comments.exists?
    = render @car.comments.select(&:persisted?)
  - else
    .alert.alert-danger
      There are no comments for this car.
= render 'comments/form'
.alert.alert-success{style: "margin-top: 2%"}
  = render @car.state if @car.state
